<div class="col-xs-6 col-xs-offset-3">
  <h1>Welocome to
    <span class="glyphicon glyphicon-book"></span>
    <strong>Bookers</strong>
    !
  </h1>
<div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <p>CopyRight Infratop.inc</P>
  </div>
</div>